/* html {
		font-size: 14px;
	}
@media screen and (min-width: 2200px){
	html {
		font-size: 25px;
		}
}
@media screen and (max-width: 2200px){	
	html {
		font-size: 23px;
	}
}
@media screen and (max-width: 2100px){	
	html {
		font-size: 21px;
	}
}
@media screen and (max-width: 1500px){	
	html {
		font-size: 16px;
	}
}
@media screen and (max-width: 1300px), screen and (max-height: 700px){	
	html {
		font-size: 14px;
	}
}
@media screen and (max-width: 1200px), screen and (max-height: 600px) {
	html {
		font-size: 12px;
	}
} */
html {
		font-size: 10px;
	}
@media screen and (max-width: 1050px), screen and (max-height: 550px) {
	html {
		font-size: 10px;
	}
}
@media screen and (max-width: 950px), screen and (max-height: 500px) {
	html {
		font-size: 8px;
	}
}
@media screen and (max-width: 850px), screen and (max-height: 450px) {
	html {
		font-size: 6px;
	}
}
@media screen and (max-width: 550px), screen and (max-height: 250px) {
	html {
		font-size: 4px;
	}
}

* {
	margin: 0;
	padding: 0;
	user-select: none;
	box-sizing: border-box;
}
.swal2-radio {
    display: grid !important;
}
input:focus {
	outline:none;
}
	.loading_area{
		display: none;
	}
	.loading_area.show{
		display: block;
		position: absolute;
		z-index: 999;
		width: 100vw;
	    height: 100vh;
	}

	.loading_area .loading{
		display: none;
	}

	.loading_area.show .loading.show{
	  	background-image: url(/resources/img/loading.gif);
	  	background-repeat: no-repeat;
	  	background-position: center;
	    display: block;
    	position: absolute;
    	top: 50%;
    	left: 60%;
    	transform: translateX(-50%) translateY(-50%);
    	width: 50vw;
    	height: 50vh;
 
	}

	.sidebar .contents.ticket.loading {
		background-color: white;
	}



@media screen and (min-width: 501px) {
	.top {
		position : absolute;
		display : block;
		font-size: 3rem;
		background: rgba(224, 224, 224);
		width: 100vw;
		height: 10vh;
	}
	.top b{
		z-index: 4;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-family : 'Cinzel', serif;
	}
		.top.back {
			background : none;
		}
		.top.back b{
			display : none;
		}
	.bottom {
		position : absolute;
		display : block;
		bottom: 0;
		font-size: 1.3rem;
		background: rgba(224, 224, 224);
		width: 100vw;
		height: 10vh;
	}
	.bottom span{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
		.bottom.back {
			display : none;
		}
		.bottom.back span{
			display : none;
		}
	.country_serch_area{	
		font-size: 1rem;
    	z-index: 5;
    	position: absolute;
    	display: inline-block;
    	top: 35%;
    	right: 7%;
    	width: 20vw;
    	max-width: 20vw;
	}
	#country_serch{
		border: 0;
		font-size: 1.5rem;
    	background-color: unset;
    	border-bottom: 1px solid;
    	outline: none;
    	width: 20vw;
    	max-width: 20vw;
	}
	/* 미리입력된값에 대한 css */
	#country_serch::-webkit-input-placeholder {
   		text-align: center;
	}
	#serch_list_area{	
		z-index: 6;
   	 	overflow: auto;
   		max-height: 15rem;
   		width: 20vw;
   		max-width: 20vw;
	}
	.serch_List{
	    font-size: 1rem;
	}
}
@media screen and (max-width: 500px) {
	.top {
		z-index: 5;
		position : absolute;
		display : block;
		font-size: 3rem;
		background: rgba(224, 224, 224);
		width: 100vw;
		height: 10vh;
	}
	.top b{
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translateX(-50%) translateY(-20%);
		font-family : 'Cinzel', serif;
	}
		.top.back b{
			/* display : none; */
		}
	.bottom {
		position : absolute;
		display : block;
		bottom: 0;
		font-size: 1.3rem;
		background: rgba(224, 224, 224);
		width: 100vw;
		height: 10vh;
	}
	.bottom span{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
		.bottom.back {
			display : none;
		}
		.bottom.back span{
			display : none;
		}
	.country_serch_area{	
		z-index: 6;
		position: absolute;
		display: inline-block;
	    right: 5%;
	    top: 15%;
	    width: 30vw;
	    max-width: 30vw;
	}
	#country_serch{
		border: 0;
    	background-color: unset;
    	outline: none;
    	border-bottom: 1px solid;
    	font-size: 1.5rem;
     	width: 30vw;
     	max-width: 30vw;
	}
	#country_serch::-webkit-input-placeholder {
   		text-align: center;
	}
	#serch_list_area{	
		z-index: 6;
		width: 20vw;
		max-width: 20vw;
	    max-height: 15rem;
	    overflow: auto;
	}
	.serch_List{
	    font-size: 10px;
	}
}