@media screen and (min-width: 501px) {
	#country_number{
		display: none;
	}
	
	/* 사이드바 버튼 */
	.sidebar_btn{
		z-index: 5;
		display: inline-block;
		position: relative;
		top: 50%;
		left: 4.5rem;
		height: 4.5rem;
		width: 4.5rem;
		text-align: center;
		background: #ffffff;
		border: 1px solid #1b1b1b;
		border-radius: 3px;
		cursor: pointer;
		transition: left 0.4s ease;
		transform: translateY(-50%);
	}
	/* 사이드바 버튼 클릭시 */
	.sidebar_btn.click{
	  left: 95%;
	  background: #1b1b1b;
	}
	
	.sidebar_btn .btn{
		color: #1b1b1b;
		font-size: 2.8rem;
	}
	
	/* 사이드바 버튼 클릭 후 */
	.sidebar_btn.click .btn{
		color: #ffffff;
		font-size: 2.8rem;
	}
	
	/* 사이드바 공간*/
	.sidebar {
		z-index: 2;
		position: fixed;
		display: grid;
		grid-template-columns: 2fr 8fr 1%; /* 공간 2분할 */
		grid-gap:6rem; /* grid간의 간격 */
		width: 100vw;
		height: 100vh;
		max-height: 100vh;
		left: -100%;
		transition: left 0.4s ease;
	}
	.sidebar.show {
		z-index: 4;
		left: 0;
	}
	
	/* 사이드바 메뉴*/
	.sidebar .maun {
		display: grid;
		max-height: 100vh;
		background: rgba(224, 224, 224, 0.3);
	}
	
	/* 사이드바 로고 */
	.sidebar .sidebar_logo {
		grid-row: 1;
		font-size: 3.5rem;
		font-weight: 600;
		text-align: center;
	}
	
	/* 사이드바 메뉴 */
	.sidebar .maun .select {
		grid-row: 3/5;
		display: inline-table;
		background: rgba(193, 193, 193, 0.3);
		list-style: none;
	}
	
	.sidebar .maun .select li {
		line-height: 5rem;
		border-bottom: 1px solid rgb(160, 160, 160);
	}
	
	.sidebar .maun .select li a {
		color: black;
		text-decoration: none;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 500;
		width: 100%;
		display: block;
		padding-left: 6rem;
		border-left: 3px solid transparent;
	}
		/* 메뉴를 클릭 했을 때*/
		.sidebar .maun .select li.active a{
	  		color: white;
	  		background: rgba(95, 95, 95, 0.3);
	  		border-left-color: blue;
		}
		/* 메뉴에 마우스를 올렸을 때 */
		.sidebar .maun .select li a:hover {
			color: blue;
			background: rgba(160, 160, 160, 0.3);
			border-left-color: red;
		}
	
	.sidebar .maun .select ul {
		/* background: rgba(168, 168, 168, 0.3); */
		display: none;
	}
	
		/* news 클릭시 */
		.sidebar .maun .select li .news-show {
			display: block;
		}
		/* ticket 클릭시 */
		.sidebar .maun .select li .ticket-show {
			display: block;
		}
		
	/* 메뉴를 클릭 했을 때*/
	.sidebar .maun .select li.active ul li a{
		color: black;
		background:  rgba(224, 224, 224, 0.3);
		border-left-color: transparent;
	}
		
		/* 메뉴를 클릭 후 상세 메뉴도 클릭된 경우*/
		.sidebar .maun .select li.active ul li.available a{
			color: white;
	  		background: rgba(95, 95, 95, 0.3);
	  		border-left-color: blue;
		}
		
		/* 메뉴를 클릭 후 상세 메뉴에 마우스 올릴경우*/
		.sidebar .maun .select li.active ul li a:hover{
			color: blue;
			background: rgba(160, 160, 160, 0.3);
			border-left-color: red;
		}
	
	.sidebar .maun .select ul li {
		line-height: 3rem;
		border-bottom: none;
	}
	
	.sidebar .maun .select ul li a {
		font-size: 2rem;
		color: black;
		padding-left: 8rem;
		text-align:right;
		padding-right: 3rem;
	}
	
	/* 사이드바 시간 */
	.sidebar .time{
	    grid-row: 5;
	    list-style: none;
	    text-align: center;
	}
	.sidebar .time b{
		color: red;
		font-size: 2.5rem;
		
	}
	
	.sidebar .time ul{
		text-align: center;
	}
	
	.sidebar .time .select_country_time {
		display: none;
	}
	
	.sidebar .time ul li:first-child{
		font-weight: bold;
		font-size: 2rem;
	}
	
	.sidebar .time ul li:not(:first-child){
		font-size: 1.7rem;
	}
	
	.sidebar .time ul li:last-child{
		font-size: 1.7rem;
		padding-bottom: 2rem;
	}
/* 사이드바  클릭시 d3 스타일 */
#globeSvg.back {
	left: 60%;
	background-color: rgba(0, 128, 255, 0.6);
}
#globeSvg.back .ortho {
	fill: rgba(165, 240, 206);
}
#planeSvg.back .mapData {
	fill: rgba(165, 240, 206, 0.6);
}
#planeSvg.back .mapData.focused{
	fill: rgba(255, 117, 25, 0.6);
}
	
	.infoLabel.back {
		display: none;
	}
	
	/* 내용이 들어갈 공간  default*/
	.sidebar .contents {
		display: grid;
		grid-template-rows: 1fr 8fr;
		max-height: 100vh;
	}
	
	.sidebar .contents div {
		display: none;
		word-break: keep-all; /* 문자 단위로 줄넘기기 */
	}
	
	.sidebar .contents .country_name {
		grid-row: 1/3;
		max-height: 100vh;
		margin: auto;
	    text-align: center;
	    font-size: 5rem;
	    font-weight: bold;
	}
	
	.sidebar .contents .basic {
		grid-row: 1/3;
		display: block;
		margin: auto;
	    text-align: center;
	    font-size: 4rem;
	    font-weight: bold;
	}
		.sidebar .contents .basic.no-show {
			display: none;
		}
	
	/* 사이드바 뉴스 클릭시 */
	.sidebar .contents.news {
		grid-template-rows: 2fr 8fr;
	}
	.sidebar .contents.news .title_area {
	/* 	grid-area:title; */
		grid-row: 1;
		display: inline-block;
		text-align: center;
		margin-top: 2%;
	}
		.sidebar .contents.news .title_area .title{
			display: block;
			font-weight: bold;
			font-size: 5rem;
		}
		.sidebar .contents.news .title_area .news_title {
			display: inline-block;
			font-size: 1.7rem;
			color: red;
		}
	.sidebar .contents.news .manual {
		grid-row: 2;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-areas:
			". . . . . . ."
			". dangerous dangerous . safety safety . "
			". accident accident . contact contact . "
			". . . . . . ."
	}
	.sidebar .contents.news .manual b{
		font-size: 2.5rem;
	}
	.sidebar .contents.news .manual .manual_dangerous  {
		grid-area: dangerous;
		display: block;
		text-align: center;
	}
	.sidebar .contents.news .manual .manual_safety  {
		grid-area: safety;
		display: block;
		text-align: center;
	}
	.sidebar .contents.news .manual .manual_accident  {
		grid-area: accident;
		display: block;
		text-align: center;
	}
	.sidebar .contents.news .manual .manual_contact  {
		grid-area: contact;
		display: block;
		text-align: center;
	}
	/* 상세 게시판 */
	.sidebar .contents.insert .title_area {
	/* 	grid-area:title; */
		grid-row: 1;
		display: inline-block;
		text-align: center;
		margin-top: 2%;
	}
		.sidebar .contents.insert .title_area .title{
			display: block;
			font-weight: bold;
			font-size: 5rem;
		}
		.sidebar .contents.insert .title_area .news_title{
			display: inline-block;
			font-size: 1.7rem;
			color: red;
		}
	
	.sidebar .contents.insert .content_area{
		grid-row: 2;
		display: grid;
		max-height: 80vh;
		grid-template-columns: 1% 1fr 1%;
		grid-template-rows: 1% 8fr 2fr;
		grid-gap:1rem;
		grid-template-areas:
			". . ."
			". content ."
			". next_btn ."
	}
	
	.sidebar .contents.insert .content_area .content{
		grid-area:content;
		display: block;
		overflow-y: auto;
		background-color: aliceblue;
		width: 80%;
		margin: 0 10%;
	}
	.sidebar .contents.insert .content_area .content div{
		display: block;
	}
	.sidebar .contents.insert .content_area .next_btn{
		display: inline-block;
		grid-area:next_btn;
		background-color: blue;
		color: white;
		width: 50%;
    	height: 30%;
    	margin: 0 25%;
	}
	.sidebar .contents.ticket .title_area {
		grid-row: 1;
		display: inline-block;
		text-align: center;
		margin: auto;
		font-size: 5rem;
	}
		.sidebar .contents.ticket .title_area .title {
			display: block;
			font-weight: bold;			
			font-size: 5rem;
		}
		
	.sidebar .contents.ticket .ticket_area{
		grid-row: 2;
		display: grid;
		width: 100%;
		font-weight: bold;
		font-size:3rem;
		text-align: center;
		grid-template-columns: 1% 3fr 1fr 3fr 1%;
		grid-template-rows: 1% 0.3fr 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
		grid-gap:1rem;
		grid-template-areas:
			". . . . ."
			". . . ticket_option ."
			". start_area . end_area ."
			". start_time . end_time ."
			". . . . ."
			". serch_btn serch_btn serch_btn ."
			". . . . ."
			
	}
	.sidebar .contents.ticket .ticket_area.drop{
		display: none;
	}
	.sidebar .contents.ticket .ticket_area .ticket_option{
		display: inline-block;
		grid-area: ticket_option;
		height: 100%;
	    width: 50%;
	    margin-left: auto;
	    border: none;
	    color: white;
	    background-color: black;
	    border-radius: 30px;
	}
	.sidebar .contents.ticket .ticket_area .start_area{
		display: inline-block;
		grid-area: start_area;
	}
	.sidebar .contents.ticket .ticket_area .end_area{
		display: inline-block;
		grid-area: end_area;
	}
	.sidebar .contents.ticket .ticket_area .start_time{
		display: inline-block;
		grid-area: start_time;
	}
	.sidebar .contents.ticket .ticket_area .end_time{
		display: inline-block;
		grid-area: end_time;
	}
		.sidebar .contents.ticket .ticket_area .end_time.none{
			display:none;
		}
	.sidebar .contents.ticket .ticket_area .serch_btn{
		display: inline-block;
		grid-area: serch_btn;
	}
	.sidebar .contents.ticket .ticket_area .serch_ticket{
		display: none;
	}
	.sidebar .contents.ticket .ticket_area #departure_Place{
		text-align: center;
		margin: auto;
    	height: 50%;
    	width: 100%;
    	border-radius: 20px;
    	font-size: 2rem;
	}
	.sidebar .contents.ticket .ticket_area #arrival_Place{
		text-align: center;
		margin: auto;
    	height: 50%;
    	width: 100%;
    	border-radius: 20px;
    	font-size: 2rem;
	}
	.sidebar .contents.ticket .ticket_area #departure_Date{
    	text-align: center;
    	display: block;
    	height: 50%;
    	width: 100%;
    	border: 2px solid;
    	border-radius: 5px;
	    background: white;
    	font-size: 2rem;
	}
	.sidebar .contents.ticket .ticket_area #arrival_Date{
		text-align: center;
    	display: block;
    	height: 50%;
    	width: 100%;
    	border: 2px solid;
    	border-radius: 5px;
	    background: white;
    	font-size: 2rem;
	}
	.sidebar .contents.ticket .ticket_area #serch_bt{
		height: 50%;
    	width: 100%;
    	border-radius: 5px;
    	font-size: 2rem;
	}
	.sidebar .contents.ticket.loading {
		background-color: white;
	}
	.sidebar .contents.ticket.result .ticket_area {
		grid-row: 2;
    	width: 100%;
    	display: block;
    	overflow-y: auto;
    	font-weight: bold;
    	font-size: 3rem;
    	text-align: center;
	}
	.sidebar .contents.ticket.result .ticket_area div{
		display: none;
	}
	.sidebar .contents.ticket.result .ticket_area button{
		display: none;
	}
	.sidebar .contents.ticket.result .ticket_area .ticket_results{
		border-radius: 8px;
		margin-bottom: 22px;
		display: flex;
		flex-flow: row nowrap;
		height: 20%
	}
	.sidebar .contents.ticket.result .ticket_area .ticket_results div{
		display: block;
	}
	.sidebar .contents.ticket.result .ticket_area .ticket_results .result_info_area{
		flex: 1;
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	padding: 2px 0;
    	border: 1px solid #e5ebf0;
    	border-right: 2px;
    	border-radius: 8px;
    	background-color: white;
    	box-shadow: 0 0 2px 0 rgba(19,26,31,0.12),0 2px 4px 0 rgba(19,26,31,0.22)!important;
	}
		.sidebar .contents.ticket.result .ticket_area .ticket_results .result_info_area .info_top{
		    font-size: 2rem;
		}
		.sidebar .contents.ticket.result .ticket_area .ticket_results .result_info_area .info_top .adendum {
		    top: -1rem;
    		position: relative;
    		margin-left: -4px;
    		font-size: 0.5rem;
    		font-weight: normal;
		}
		.sidebar .contents.ticket.result .ticket_area .ticket_results .result_info_area .info_bottom{
    		font-size: 1.3rem;
    		white-space: normal!important;
    		overflow: initial!important;
    		text-overflow: initial!important;
    		font-weight: normal;
		}
		
		.sidebar .contents.ticket.result .ticket_area .ticket_results .result_info_area .flights{
			display: flex;
    		flex: auto;
    		flex-direction: column;
    		align-items: stretch;
    		justify-content: space-around;
    		list-style: none;
    		padding: 3px;
    		border-radius: 8px;
		}		
			.sidebar .contents.ticket.result .ticket_area .ticket_results .result_info_area .flights .start_flight{
				align-items: flex-start;
    			justify-content: flex-start;
    			display: flex;
			}
			.sidebar .contents.ticket.result .ticket_area .ticket_results .result_info_area .flights .end_flight{
				align-items: flex-start;
    			justify-content: flex-start;
    			display: flex;
			}
			.sidebar .contents.ticket.result .ticket_area .ticket_results .result_info_area .flights .air_port{
				width: 70%!important;
				max-width: 70%;
				overflow: hidden;
			    margin-right: 6px!important;
			}
			.sidebar .contents.ticket.result .ticket_area .ticket_results .result_info_area .flights .flight_Type{
				width: 25%!important;
				max-width: 25%;
				overflow: hidden;
			    margin-right: 6px!important;
			}
			.sidebar .contents.ticket.result .ticket_area .ticket_results .result_info_area .flights .flight_time{
				width: 30%!important;
				max-width: 30%;
				overflow: hidden;
			    margin-right: 6px!important;
			}
		
	.sidebar .contents.ticket.result .ticket_area .ticket_results .result_price_area{
	    border: 1px solid #e5ebf0;
    	display: flex;
    	flex-direction: column;
    	width: 25%;
    	max-width: 25%;
		border-radius: 8px;
		background-color: silver;
		box-shadow: 0 0 2px 0 rgba(19,26,31,0.12),0 2px 4px 0 rgba(19,26,31,0.22)!important;
	}
		.sidebar .contents.ticket.result .ticket_area .ticket_results .result_price_area .price{
			font-size: 2rem;
			text-align: center;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}	
		.sidebar .contents.ticket.result .ticket_area .ticket_results .result_price_area .price .standard{
		    font-size: 0.5rem;
		    margin-left: -4px;
			font-weight: normal;
		}
		.sidebar .contents.ticket.result .ticket_area .ticket_results .result_price_area .total_price{
			font-size: 2rem;
			text-align: center;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}	
		.sidebar .contents.ticket.result .ticket_area .ticket_results .result_price_area .ticket_link{
			margin: auto;
	    	width: 80%!important;
    		max-width: 80%;
    		font-size: 2rem;
		}
			.sidebar .contents.ticket.result .ticket_area .ticket_results .result_price_area .ticket_link a{
				text-decoration: none;
    			color: black;
			}
		.sidebar .contents.ticket.result .ticket_area .ticket_results .result_price_area .ticket_ting{
			font-size: 2rem;
			text-align: center;
		    background-color: white;
		    border-radius: 10px;
		}	
	
}/* @media screen and (min-width: 501px) */

/*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  */
@media screen and (max-width: 500px) {
	
	#country_number{
		display: none;
	}
	/* 사이드바 버튼 */
	.sidebar_btn{
		z-index: 5;
		position: relative;
		top: 62%;
		text-align: center;
		background: #ffffff;
		border: 1px solid #1b1b1b;
		border-radius: 3px;
		cursor: pointer;
		transition: top 0.4s ease;
	}
	/* 사이드바 공간*/
	.sidebar {
		z-index: 2;
		position: fixed;
		top: -100%;
		display: grid;
		grid-template-rows: 20%; /* 공간 2분할 */
		width: 100%;
		height: 100%;
		transition: top 0.4s ease;
	}
	.sidebar.show {
		z-index: 4;
		top: 0;
	}
	
	/* 사이드바 메뉴*/
	.sidebar .maun {
		display: grid;
		grid-template-rows: 20%; /* 공간 2분할 */
		background: rgba(224, 224, 224, 0.3);
		row-gap: 3.5rem;
	}
	
	/* 사이드바 로고 */
	.sidebar .sidebar_logo {
	    grid-row: 1/3;
    	grid-column: 1/5;
  		grid-gap:3.5rem;
		/* font-weight: bold;
		font-size: 3rem;
		text-align: center; */
	}
	.sidebar .sidebar_logo b {
		/* position: relative;
    	top: 25%; */
    	display: none;
	}
	/* 사이드바 메뉴 */
	.sidebar .maun .select {
		/* grid-row: 3;
		grid-column: 1/4; */
		display: grid;
		grid-column: 1/3;
		background: rgba(193, 193, 193, 0.3);
		list-style: none;
	}
	
	.sidebar .maun .select li {
		padding-top: 1.7rem;
		grid-row: 1;
		display: inline-block;
		line-height: 5rem;
	}
	
	.sidebar .maun .select li a {
		color: black;
		text-decoration: none;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 500;
		width: 100%;
		display: inline-block;
		padding-left: 2rem;
		border-left: 3px solid transparent;
	}
		/* 메뉴를 클릭 했을 때*/
		.sidebar .maun .select li.active a{
	  		color: white;
	  		background: rgba(95, 95, 95, 0.3);
	  		border-left-color: blue;
	  		border-bottom: 1px solid rgb(160, 160, 160);
		}
		/* 메뉴에 마우스를 올렸을 때 */
		.sidebar .maun .select li a:hover {
			color: blue;
			background: rgba(160, 160, 160, 0.3);
			border-left-color: red;
		}
	
	.sidebar .maun .select ul {
		/* background: rgba(168, 168, 168, 0.3); */
		display: none;
	}
	
		/* news 클릭시 */
		.sidebar .maun .select li .news-show {
			position: fixed;
			display: block;
		}
		/* news 클릭시 */
		.sidebar .maun .select li .news-show li:first-child {
			/* grid-row: 2;
			grid-column: 1/4; */
		}
		
		
	/* 메뉴를 클릭 했을 때*/
	.sidebar .maun .select li.active ul li a{
		color: black;
		background:  rgba(224, 224, 224, 0.3);
		border-left-color: transparent;
	}
		
		/* 메뉴를 클릭 후 상세 메뉴도 클릭된 경우*/
		.sidebar .maun .select li.active ul li.available a{
			color: white;
	  		background: rgba(95, 95, 95, 0.3);
	  		border-left-color: blue;
		}
		
		/* 메뉴를 클릭 후 상세 메뉴에 마우스 올릴경우*/
		.sidebar .maun .select li.active ul li a:hover{
			color: blue;
			background: rgba(160, 160, 160, 0.3);
			border-left-color: red;
		}
	
	.sidebar .maun .select ul li {
		line-height: 3rem;
		border-bottom: none;
	}
	
	.sidebar .maun .select ul li a {
		font-size: 2rem;
		color: black;
		text-align:center;
	}
	
	/* 사이드바 시간 */
	.sidebar .time{
	    grid-column: 3/5;
		text-decoration: none;
	    list-style: none;
	    text-align: center;
	}
	.sidebar .time li{
	    display: grid;
	}
	
	.sidebar .time b{
		grid-row: 1;
		grid-column: 1/3;
		color: red;
		font-size: 2.5rem;
		
	}
	.sidebar .time li .basic_time{
	    grid-row: 2;
    	grid-column: 1/3;
	    list-style: none;
		text-align: center;
	}
	.sidebar .time li .basic_time.show{
		grid-column: 1;
	}
	.sidebar .time li .select_country_time{
	    grid-row: 2;	
    	grid-column: 2;
	    list-style: none;
		text-align: center;
	}
	
	.sidebar .time .select_country_time {
		display: none;
	}
	
	.sidebar .time ul li:first-child{
		font-weight: bold;
		font-size: 2rem;
	}
	
	.sidebar .time ul li{
		font-size: 1.7rem;
	}
/* 사이드바  클릭시 d3 스타일 */
#globeSvg.back {
	top: 60%;
}

	
	/* 내용 부분 */
	.sidebar .contents {
		display: grid;
	}
	
	.sidebar .contents div {
		display: none;
	}
	
	
	.sidebar .contents .country_name {
		margin: auto;
	    text-align: center;
	    font-size: 5rem;
	    font-weight: bold;
	}
	
	
	.sidebar .contents .basic {
		display: block;
		margin: auto;
	    text-align: center;
	    font-size: 4rem;
	    font-weight: bold;
	}
	
		.sidebar .contents .basic.no-show {
			display: none;
		}
	
	.sidebar .contents .title {
		
	}
	.sidebar .contents .content {
		
	}
}